.details{
   display: flex;
   justify-content: center;
   padding: 30px;
   color: white;
   background: black;
   min-height: 100vh;
}
.details-data1{
    display: flex;
    gap: 20px;
    background-color: black;
    padding: 15px;
    border-radius: 20px;
}
.details-data1{
    max-width: 600;
}
.back{
    position: absolute;
    top: 20px;
    cursor: pointer;
    border-radius: 15px;
    background: black;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 800;
}
.back:hover{
    background: red;
}
iframe{
    border-radius: 20px;
    margin-top: 20px;
}